<configuration>
    <!-- 파일로 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>myApp.log</file>
        <encoder>
            <pattern>%date [%thread] %level %logger{10} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 표준 출력 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- debug 레벨 설정 -->
    <!-- error > warn > info > debug > trace -->
    <!-- <root level="debug">    root level에 설정한 로그부터 myApp.log에 찍힘 -->
    <root level="trace">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>